@import 'tailwindcss';

:root {
  --app-bg: #f3f3f3;
  --main-text: #111827;
  --sidebar-bg: #242424;
  --sidebar-text: #f3f3f3;
  --sidebar-hover: rgba(255, 255, 255, 0.08);
  --main-bg: #f3f3f3;
}

:root[data-theme="dark"] {
  --app-bg: #242424;
  --main-text: #f3f3f3;
  --sidebar-bg: #f3f3f3;
  --sidebar-text: #111827;
  --sidebar-hover: rgba(0, 0, 0, 0.08);
  --main-bg: #242424;
}

body {
  margin: 0;
  color: var(--main-text);
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--app-bg);
  transition: background-color 300ms ease, color 300ms ease;
}

/* Background Scheme for aside */
aside {
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  transition: background-color 300ms ease, color 300ms ease;
}

main {
  background-color: var(--main-bg);
  color: var(--main-text);
  transition: background-color 300ms ease, color 300ms ease;
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}
